<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{HH:mm:ss.SSS} %highlight(%-5level) %cyan(%class{50}.%M:%L) - %msg%n</pattern>
        </encoder>
    </appender>
    <logger name="io.confluent" level="info" />
    <logger name="org.apache.kafka.common" level="error" />
    <root level="warn">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
